<app-toolbar></app-toolbar>
<div class="main"
     fxLayout="column"
     fxLayoutAlign="space-evenly stretch">
  <mat-form-field class="textfield"
                  fxFlex>
    <textarea matAutosize
              [rows]="8"
              matInput
              [(ngModel)]="text"
              placeholder="Add your text here"
              type="text"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-select [(ngModel)]="voice"
                placeholder="Voices">
      <mat-option *ngFor="let voice of voices"
                  [value]="voice.name">
        {{ voice.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <span>Pitch</span>
  <mat-slider [max]="2"
              [min]="0"
              [step]="0.1"
              [thumb-label]="true"
              [tick-interval]="1"
              [(ngModel)]="pitch">
  </mat-slider>
  <span>Rate</span>
  <mat-slider [max]="1.5"
              [min]="0"
              [step]="0.1"
              [thumb-label]="true"
              [tick-interval]="1"
              [(ngModel)]="rate">
  </mat-slider>
  <span>Volume</span>
  <mat-slider [max]="1"
              [min]="0"
              [step]="0.1"
              [thumb-label]="true"
              [tick-interval]="1"
              [(ngModel)]="volume">
  </mat-slider>
  <button (click)="speak()"
          color="primary"
          mat-raised-button>Text to speech</button>
  <input #fileInput
         (change)="importText($event)"
         accept=".txt"
         class="hidden"
         type="file" />
</div>
<button class="fab fab--bottom-right"
        (click)="fileInput.click()"
        mat-button
        mat-fab>
  <mat-icon>file_upload</mat-icon>
</button>