<app-toolbar></app-toolbar>
<div class="main"
     fxLayout="column"
     fxLayoutAlign="center stretch">
  <mat-form-field>
    <textarea matInput
              matTextareaAutosize
              placeholder="Add your text here"
              type="text"></textarea>
  </mat-form-field>
  <button class="mb-1" color="primary" mat-raised-button>Text to speech</button>
  <button (click)="getVoices()" color="primary" mat-raised-button>Get voices</button>
</div>
<button class="fab fab--bottom-right"
        (click)="importText()"
        mat-button
        mat-fab>
  <mat-icon>file_upload</mat-icon>
</button>