/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body, html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125; 
  margin: 0;
  padding: 0;
}

.fab--bottom-left {
  bottom: 0;
  left: 0;
}

.fab--bottom-right {
  bottom: 0;
  right: 0;
}

.fab--top-left {
  left: 0;
  top: 0;
}

.fab--top-right {
  right: 0;
  top: 0;
}

.fill-width {
  width: 100%;
}

.mat-elevation-z1,
.mat-elevation-z2,
.mat-elevation-z3,
.mat-elevation-z4,
.mat-elevation-z5,
.mat-elevation-z6,
.mat-elevation-z7,
.mat-elevation-z8 {
  position: relative;
  z-index: 2;
}

.mat-fab.fab {
  margin: 1rem;
  position: absolute!important;
  z-index: 2;
}

.m-0 {
  margin: 0;
}

.mb-1 {
  margin-bottom: 1rem!important;
}

.mt-1 {
  margin-top: 1rem;
}

.snackbar--error {
  color: #ff0000;
}

.snackbar--info {
  color: #ffff00;
}

.spacer {
  flex-grow: 1;
}